<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>User Verify</title>

</head>

<body>
    <h3>Verify Your Email</h3>
    <p id="error-message"></p>
    <form action="http://localhost/mvcFramework3/public/users/verifyEmail" method="post">
        <label for="verifyCode">
            Enter Code : 
        </label>
        <input type="text" name="verifyCode" id="verifyCode">
        <input type="text" name="email" id="email" value="" hidden>

        <button type="submit" >Verify</button>
    </form>

    <script>
        var data = JSON.parse('<?= $data; ?>');
        console.log(data);

        const email = document.getElementById("email")
        const errorMessage = document.getElementById("error-message")

        if(data.email){
            email.value = data.email
        }
        if(data.error){
            errorMessage.innerHTML = data.error
        }
    </script>
    
</body>
</html>