<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <p>Hello <span id="name"></span></p>
    <br>
    <p id="goto"></p>

    <script>
        
        var data = JSON.parse('<?= $data; ?>');
        console.log(data);

        document.getElementById("name").innerHTML = data.name

        if(data.isLogged){
            document.getElementById("goto").innerHTML = '<a href="http://localhost/mvcFramework3/public/users/logout">Log Out</a>'
        }else{
            document.getElementById("goto").innerHTML = '<a href="http://localhost/mvcFramework3/public/users/signup">Sign Up</a> or <a href="http://localhost/mvcFramework3/public/users/login">Log In</a>'
        }
    
    </script>
</body>
</html>